/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: hsl(321, 94%, 48%); /* Updated background color */
    color: #fff;
    padding: 1rem .9;
    text-align: center;
}

main {
    padding: 1rem;
}

h1, h2 {
    margin-bottom: 1rem;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

th, td {
    padding: 0.75rem;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

/* Set fixed width for the first column */
th:first-child, td:first-child {
    width: 200px; /* Adjust the width as needed */
    word-wrap: break-word; /* Ensure text wraps within the fixed width */
}

/* Responsive styles */
@media (max-width: 600px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin: 0 0 1rem 0;
    }

    tr:nth-child(odd) {
        background: #f9f9f9;
    }

    td {
        border: none;
        position: relative;
        padding-left: 50%;
        text-align: right;
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 0.75rem;
        font-weight: bold;
        text-align: left;
    }
}